*.csv
*.dat
*.iml
*.log
*.tar.gz
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.bak
*.BAK
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
config/*
!config/_*.json
dump.rdb
backup
bin/addr.json
bin/getAddrFromWechat.js
bin/*.txt
bin/log*
snapshot/*.png
